@page "/fetchdata"
@inject HttpClient Http

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (realms == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Index</th>
                <th>Connected Realm Id</th>
                <th>Name</th>
                <th>Locale</th>
                <th>Timezone</th>
                <th>Slug</th>
            </tr>
        </thead>
        <tbody>
            @{ var index = 0; }
            @foreach (var cr in realms)
            {
                index++;
                @foreach (var r in cr.Realms)
                {
                    <tr>
                        <td>@index</td>
                        <td>@cr.Id</td>
                        <td>@r.Name.US</td>
                        <td>@r.Locale</td>
                        <td>@r.Timezone</td>
                        <td>@r.Slug</td>
                    </tr>
                }
            }
        </tbody>
    </table>
}

@code {
    private List<ConnectedRealm> realms;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            realms = await Http.GetFromJsonAsync<List<ConnectedRealm>>("/api/BNetRealms");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    }
}
